<div class="ft">
  <footer class="footer-wrapper wrapper">
    <div class="footer-box">
      <div class="subscribe">
        <div class="block-button">
          {{ mixins.subscribe([
          {list: ['Telegram bot', 'Telegram bot', 'Telegram channel']}
          ]) }}
          <a class="block-button__link" href="#">support@neurobot.trading</a>
        </div>
        <div class="block-email">
          <h3 class="block-email__title"><span>Subscribe</span> to our news</h3>
          <form action="#"><input class="block-email__input" type="email" name="email" placeholder="e-mail"></form>
          <button class="block-email__btn btn_lg">Subscribe</button>
        </div>
      </div>
      <div class="links">
        <ul class="links__block">
          <li class="links__item">
            <a href="#"><img src="../../img/social icons.png" alt="facebook"></a>
          </li>
          <li class="links__item">
            <a href="#"><img src="../../img/inst.png" alt="instagram"></a>
          </li>
          <li class="links__item">
            <a href="#"><img src="../../img/youtube.png" alt="youtube"></a>
          </li>
          <li class="links__item">
            <a href="#"><img src="../../img/vk.png" alt="vk"></a>
          </li>
        </ul>
        <div class="copy">
          <a class="copy__link" href="#">Cookies</a>
          <a class="copy__link" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="bg-footer"></div>
</div>
<p></p>
<p>
  
</p>