
  <footer class="footer-wrapper wrapper">
    <div class="footer-box">
      <div class="links">
        <ul class="links__block">
          <li class="links__item">
            <a href="#"><img src="../../img/social icons.png" alt="facebook"></a>
          </li>
          <li class="links__item">
            <a href="#"><img src="../../img/inst.png" alt="instagram"></a>
          </li>
          <li class="links__item">
            <a href="#"><img src="../../img/youtube.png" alt="youtube"></a>
          </li>
          <li class="links__item">
            <a href="#"><img src="../../img/vk.png" alt="vk"></a>
          </li>
        </ul>
        <div class="copy">
          <a class="copy__link" href="#">Cookies</a>
          <a class="copy__link" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="bg-footer"></div>

