<!-- HEADER content -->
<header class="header">
  <div class="header__wrapper wrapper">
    <a href="#" class="logo">
      <div class="logo__img"><img src="img/logo.svg" alt="logo"></div>
      <div class="logo__text">
        <p>Neurobot<span class="trading_blue">.trading</span></p>
        <p class="logo__text-bottom"> Neural network forecasting</p>
      </div>
    </a>
    <input type="checkbox" id="burger-menu" class="hidden-menu">
    <label class="btn-menu" for="burger-menu">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </label>
    <div class="header-wrapper">
      <nav class="header-nav">
        {#{{ mixins.menu([
        {list: ['Forecasts', 'Tokens', 'About', 'Log In']}
        ]) }} #}
        <ul class="menu">
          <li class="menu__item">
            <a href="page.html">Forecasts</a>
          </li>
          <li class="menu__item">
            <a href="tokens.html" class="tokens-link">Tokens</a>
          </li>
          <li class="menu__item">
            <a href="#">About</a>
          </li>
          <li class="menu__item">
            <a href="#">Log In</a>
          </li>
        </ul>
      </nav>
      <div class="header-right">
        <button class="btn btn_white">Sign Up</button>
        <div class="lang">
          <button class="lang-btn lang__current">Eng</button>
          <ul class="lang-list">
            <li class="lang-list__item"><a class="lang__link" href="#">Рус</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- END content -->
