<!-- MY macro -->
{% macro menu(props) %}
<!-- begin breadcrumbs -->
<ul class="menu{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props %}
		{% if item.list %}
			{% for i in item.list %}
				<li class="menu__item">
				   <a href="#">{{ i }}</a>
			   </li>
			{% endfor %}
		{% endif %}
	{% endfor %}		
</ul>
<!-- end breadcrumbs -->
{% endmacro %}


{% macro lang(language) %}
	<div class="lang">
		{% for i in language %}
			{% if i.list %}
			{% for i in i.list %}
				<div class="lang__item">{{i}}</div>
			{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro currency(valuta) %}
	<ul class="value">
		{% for i in valuta %}
			{% if i.list %}
				{% for i in i.list %}
					<li class="value__item"><a href="#" class="value__link">{{i}}</a></li>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
{% endmacro %}

{% macro valueNow(number) %}
	<div class="value-now">
		{% for i in number %}
			{% if i.list %}
				{% for i in i.list %}
					<div class="value-now__item">
						{% for j in i %}
				    		<div>{{j}}</div>
						{% endfor %}
					</div>
						{% endfor %}
				{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro subscribe(item) %}
	<ul class="subscribe-telegram">
		{% for i in item %}
			{% if i.list %}
				{% for i in i.list %}
					<li class="subscribe-telegram__item"><a href="#" class="subscribe-telegram__link">{{i}}</a></li>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
{% endmacro %}