<!-- MY macro -->
{% macro menu(props) %}
<!-- begin breadcrumbs -->
<ul class="menu{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props %}
		{% if item.list %}
			{% for i in item.list %}
				<li class="menu__item">
				   <a href="#">{{ i }}</a>
			   </li>
			{% endfor %}
		{% endif %}
	{% endfor %}		
</ul>
<!-- end breadcrumbs -->
{% endmacro %}


{% macro lang(language) %}
	<div class="lang">
		{% for i in language %}
			{% if i.list %}
			{% for i in i.list %}
				<div class="lang__item">{{i}}</div>
			{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}
