<!-- QUESTIONS block -->
<div class="inner">
  <section class="white_wrapper wrapper">
    <div class="ques-box">
      <div class="questions">
        <h2 class="questions__title"><span>Frequently Asked</span> Questions</h2>
        <div class="questions-block">
          <div class="questions-block__item">
            <input type="checkbox" name="question" id="question_one">
            <label class="flex" for="question_one"><img src="../../img/question_btn.png" alt="btn">
              <h3 class="questions-block__title">Why the graphic predictions for the 24 hours differs from
                that of the 48 hour and the weekly?</h3>
            </label>
            <p class="none">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the
              rates of
              cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all
              charts and in the next few updates the graphics will not be different.</p>
          </div>
          <div class="questions-block__item">
            <input type="checkbox" name="question" id="question_two">
            <label class="flex" for="question_two"><img src="../../img/question_btn.png" alt="btn">
              <h3 class="questions-block__title">What is the charts time zone?</h3>
            </label>
            <p class="none">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the
              rates of
              cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all
              charts and in the next few updates the graphics will not be different.</p>
          </div>
          <div class="questions-block__item">
            <input type="checkbox" name="question" id="question_three">
            <label class="flex" for="question_three"><img src="../../img/question_btn.png" alt="btn">
              <h3 class="questions-block__title">How accurate are the forecasts?</h3>
            </label>
            <p class="none">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the
              rates of
              cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all
              charts and in the next few updates the graphics will not be different.</p>
          </div>
          <div class="questions-block__item">
            <input type="checkbox" name="question" id="question_four">
            <label class="flex" for="question_four"><img src="../../img/question_btn.png" alt="btn">
              <h3 class="questions-block__title">Why are the graphics of the forecasts so inconvenient?</h3>
            </label>
            <p class="none">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the
              rates of
              cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all
              charts and in the next few updates the graphics will not be different.</p>
          </div>
          <div class="questions-block__item">
            <input type="checkbox" name="question" id="question_five">
            <label class="flex" for="question_five"><img src="../../img/question_btn.png" alt="btn">
              <h3 class="questions-block__title">What is the most accurate forecast?</h3>
            </label>
            <p class="none">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the
              rates of
              cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all
              charts and in the next few updates the graphics will not be different.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- QUESTIONS end block -->
