<!-- TOKENS HERO block -->
<div class="tokensHero-wrapper wrapper">
  <div class="tokensHero">
    <h1 class="tokensHero__title">Tokens</h1>
    <p class="tokensHero__desc">
      The NeuroBot is a neural network algorithm created for forecasting
      exchange rates of cryptocurrencies. The neural network collects and
      analyses Data 24/7 and provides forecasts for various cryptocurrencies'
      exchange rates. There are three types of forecasts: 24 hours, 48 hours and
      one week. Neural network algorithm implemented with algorithms of the
      essential aspects of technical analysis, such as patterns and signal
      indicators calculate forecast Data with one second time.
    </p>
    <p class="tokensHero__desc">
      The program will be further upgraded by introducing the remaining elements
      of technical analysis (Fibonacci retracement, the Elliot wave theory , etc
      ) and fundamental analysis - market news algorithms will be implemented -
      one more neural network with functions to determine positive and negative
      tendencies of the market.
    </p>
    <h2 class="tokensHero__subtitle">NEB contract address</h2>
    <div class="hero-form">
      <form action="#" class="hero-form-value">
        <div>
          <input title="0xd84500DDAF560dF7bE57702b3A8769A782Ce0277" class="hero-form-value__text" type="text" value="0xd84500DDAF560dF7bE57702b3A8769A782Ce0277" disabled />
        </div>
      </form>
      <form action="#" class="hero-form-copy">
        <div class="hero-form-copy__item"><img src="img/form-img.png" class="hero-form-copy__img" alt="copy"></div>
      </form>
    </div>
    <div class="hero-link">
      <a href="#" class="btn_lg hero-link__item btn_dark-blue">etherscan.io</a>
      <a href="#" class="btn_lg hero-link__item btn_white-border">Etherdelta.com</a>
    </div>
  </div>
</div>
<!-- END TOKENS HERO block -->
