main
    margin: 0 10px
    +md
        padding: 0 30px
    +sm
        padding: 0px
.roadmap-wrapper
    max-width: 980px
    margin: 0 auto

.bg-roadmap
    height: 2730px
    +md
        height: 1875px
    +sm
        height: auto
        position: relative
        top: -119px

.bg-roadmap:before
    content: url(../img/roadmap.png)
    position: absolute
    z-index: -1
    left: 50%
    transform: translateX(-25%)
    +md
        content: url(../img/roadmap-tablet3.png)
        position: absolute
        z-index: -1
        left: 50%
        transform: translateX(-50%)
    +sm
        content: url(../img/Roadmap1.png)
        position: absolute
        z-index: 0
        left: 50%
        transform: translateX(-42%)

.benefits__title
    max-width: 374px
    color: #fefeff
    font-size: 72px
    line-height: 60px
    letter-spacing: 3.6px
    padding-top: 90px
    +md
        font-size: 56px
        line-height: 45px
    +sm
        font-size: 36px
        line-height: 34px
        letter-spacing: 0px
        max-width: 250px
        padding: 0
        position: relative
        top: 100px
        font-weight: 500
    span
        font-size: 48px
        letter-spacing: 2px
        +md
            font-size: 36px
        +sm
            letter-spacing: 0px
            font-size: 28px


.benefits-block
    display: flex
    flex-direction: column

    +md
        // margin-top: 200px
    +sm
        margin-top: 225px
        margin-left: -123px
    &__subtitle
        color: #fefeff
        font-size: 36px
        font-weight: 600
        line-height: 40px
        +md
            font-size: 27px
            line-height: 30px
    &__text
        color: #fefeff
        font-size: 18px
        font-weight: 300
        line-height: 36px
        +md
            font-size: 14px
            line-height: 22px
    &__ico img
        +sm
            display: none

.benefits-block__item
    display: flex
    width: 50%
    +sm
        padding-top: 0
        padding-bottom: 0 
        border-left: 8px solid #ffffff
        box-sizing: content-box
        padding-left: 46px
        margin-right: 10px
        position: relative

.benefits-block__item:nth-child(1)
    align-self: flex-end
    +sm
        padding-top: 0
        padding-bottom: 30px
        align-self: flex-end

.benefits-block__item:nth-child(2)
    +sm
        border-left: 8px dotted #09a5b0

.benefits-block__item:nth-child(4)
    align-self: flex-end
    +sm
        align-self: flex-start
        margin-top: 226px   
        margin-left: 127px
        border-left: none
        padding-left: 0
        padding-right: 46px
        border-right: 8px dotted #09a5b0
        padding-bottom: 30px

.benefits-block__item:nth-child(5)
    +sm
        align-self: flex-start
        border-left: none
        margin-left: 127px
        padding-left: 0
        padding-right: 46px
        border-right: 8px dotted #09a5b0

.benefits-block__item:nth-child(7)
    align-self: flex-end
    +sm
        margin-top: 191px
        padding-left: 46px
        margin-right: 11px
        align-self: flex-end
        position: relative
        padding-bottom: 30px
        border-left: 8px dotted #09a5b0

.benefits-block__item:nth-child(8)
    +sm
        margin-top: 7px 
        padding-left: 46px
        margin-right: 11px
        align-self: flex-end
        position: relative
        padding-bottom: 30px
        border-left: 8px dotted #09a5b0

// .benefits-block__item:first-child:before
//     +sm
//         content: url(../img/10-17.png)
//         position: absolute
//         top: -32px
//         left: -32px

// .benefits-block__item:nth-child(2):before
//     +sm
//         content: url(../img/11-17.png)
//         position: absolute
//         top: -32px
//         left: -32px

// .benefits-block__item:nth-child(4):before
//     +sm
//         content: url(../img/01-18.png)
//         position: absolute
//         top: -32px
//         right: -32px

// .benefits-block__item:nth-child(5):before
//     +sm
//         content: url(../img/03-18.png)
//         position: absolute
//         top: -32px
//         right: -32px

// .benefits-block__item:nth-child(7):before
//     +sm
//         content: url(../img/04-18.png)
//         position: absolute
//         top: -32px
//         left: -32px

// .benefits-block__item:nth-child(8):before
//     +sm
//         content: url(../img/033-18.png)
//         position: absolute
//         top: -32px
//         left: -32px

.roadmap-img-two:before
    +sm
        content: url(../img/roadmap2.png)
        position: absolute
        z-index: 0
        left: 50%
        transform: translateX(-51%)

.roadmap-img-three:before
    +sm
        content: url(../img/roadmap3.png)
        position: absolute
        z-index: 0
        left: 50%
        transform: translateX(-49%)
        padding-top: 5px 

.roadmap-img-four
    +sm
        margin-bottom: 90px
.roadmap-img-four:before
    +sm
        content: url(../img/roadmap4.png)
        position: absolute
        z-index: 0
        left: 50%
        transform: translateX(-46%)
        padding-top: 5px 

.benefits-block__item
    position: relative
+sm
    .benefits-block__item:nth-child(2)
        align-self: flex-end
    .benefits-block__item:nth-child(3)
        align-self: flex-start
    .benefits-block__item:nth-child(6)
        align-self: flex-end

.benefits-block__desc
    +md
        padding-left: 16px
.benefits-block__item:first-child .help
    margin: 130px 0 0 0
    height: 300px
    +md
        height: 230px
        margin: 55px 0 0px 0
    +sm
        height: auto
        padding: 0
        margin: 0

.benefits-block__item:nth-child(2) .help
    padding-right: 120px
    margin-top: 80px
    +md
        margin-top: 55px
        padding-right: 40px
    +sm
        margin-top: 0

.benefits-block__item:nth-child(2) .benefits-block__subtitle
    max-width: 270px

.benefits-block__item:nth-child(4) .help
    margin-top: 80px
    +md
        margin-top: 55px
    +sm
        margin: 0
        padding: 0


.benefits-block__item:nth-child(5) .help
    padding-right: 90px
    margin-top: 80px
    +md
        padding-right: 30px
        margin-top: 55px
    +sm
        padding: 0
        margin: 0

.benefits-block__item:nth-child(7) .help
    margin-top: 80px
    +md
        margin-top: 55px
    +sm
        padding: 0
        margin-top: 30px

.benefits-block__item:nth-child(7) .benefits-block__text
    max-width: 300px

.benefits-block__item:nth-child(8) .help
    margin-top: 80px
    padding-right: 30px
    +md
        margin-top: 55px
        padding-right: 15px
    +sm
        margin-top: 0

.benefits-block__item:nth-child(8) .benefits-block__text
    max-width: 300px
.help
    display: flex
    height: 300px
    padding-left: 70px
    +md
        height: 230px
        padding-left: 50px
    +sm
        height: auto
        padding: 0

.lem-left
    position: absolute
    width: 72px
    height: 72px
    background: #09a5b0
    border-radius: 72px 72px 72px 10px
    right: -4%
    top: -3%
    +md
        width: 55px
        height: 55px

.lem-right
    position: absolute
    width: 72px
    height: 72px
    background: #09a5b0
    border-radius: 72px 72px 10px
    +md
        width: 55px
        height: 55px

.benefits-block__item:first-child .lem-right
    left: -15%
    top: 10%
    +md
        left: -5%
        top: 0%
    +sm
        left: 0
        transform: translate(-55%,-55%)
        top: 0

.benefits-block__item:nth-child(2) .lem-left
    +sm
        border-radius: 72px 72px 10px
        left: 0
        transform: translate(-58%, -50%)

.benefits-block__item:nth-child(4) .lem-right
    left: -12%
    top: -5%
    +md
        left: -3%
        top: -3%
    +sm
        left: 94%
        transform: translate(-6%,-50%)
        border-radius: 72px 72px 72px 10px
        top: 0

.benefits-block__item:nth-child(5) .lem-left
    right: -3%
    top: -7%
    +sm
        right: 0
        transform: translate(58%,-50%)
        top: 0

.benefits-block__item:nth-child(7) .lem-right
    left: -13%
    top: -7%
    +md
        left: -10%
        top: -2%
    +sm
        transform: translate(-57%,20%)
        left: 0
        top: 0

.benefits-block__item:nth-child(8) .lem-left
    right: -7%
    top: -6%
    +sm
        left: 0
        top: 0
        border-radius: 72px 72px 10px
        transform: translate(-57%, -20%)

.lem_white
    background-color: #ffffff
    .lem__text
        color: #1d354e
.lem__text
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: #fefeff
    text-align: center
    line-height: 15px
    span
        font-size: 24px
        font-weight: 500
        letter-spacing: 1.2px
        +md
            font-size: 18px
    p
        font-weight: 300
        letter-spacing: 0.6px
        font-size: 12px
        +md
            font-size: 9px

.benefits-ico-tablet
    display: none
    +md
        display: block

.benefits-ico-desctop
    position: absolute
    left: 10px
    transform: translate(-10%,10%)
    +md
        display: none


